*{
    margin: 0px;
    padding: 0px;
   font-family: sans-serif;
}
a{
    text-decoration: none;
}

body{
    .cartSliderIn , .cartSliderOut{
        position:fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color:rgba(0,0,0,0.5);
        display: flex;
        justify-content: end;
        animation: show forwards 0.6s;
        @keyframes show {
                from{
                    opacity: 0;
                }
                to{
                    opacity: 1;
                }
            }
        
        aside{
            background-color: rgb(238, 244, 248);
            display: flex;
            flex-direction: column;
            padding: 20px; 
            overflow: scroll;
            animation: slide 1s forwards;

            @keyframes slide {
                from{
                    width: 0px;
                    opacity: 0;
                }
                to{
                    width: 400px;
                    opacity: 1;
                }
            }

            & > button{
                height: fit-content;
                width: fit-content;
                font-size: 2.3em;
                background-color:transparent;
                border:none;
                margin-bottom: 10px;
                cursor: pointer;
            }
            h2{
                text-align: center;
                font-family:cursive;
            }
            .itemContainer{
                height:100vh;
                article{
                    height: 80px;
                    margin-top: 20px;
                    display: flex;
                        img{
                            width: 30%; 
                            height: 100%;
                            border-radius: 5px;
                            margin-right: 20px;
                        }
                    .productDetails{
                        flex:1;
                        margin-right: 20px;

                        h5{
                            font-size: 1.1em;
                        }
                        p{
                            margin-top: 5px;
                            font-size: 0.9em;
                        }
                        button{
                            border: none;
                            background-color: transparent;
                            font-size: 1em;
                            margin-top: 10px;
                            cursor: pointer;
                        }
                    }
                    .productBtns{
                        h5{
                            text-align: center;
                            margin: 10px 0px;
                        }
                        button{
                            color:rgb(206, 99, 6);
                            background-color:transparent;
                            border: none;
                            font-size: 1em;
                            cursor: pointer;
                            transition: 0.5s;

                            &:hover{
                                color:rgb(125, 61, 6);
                                
                            }
                        }
                    }
                }
            }
            .total{
                margin: 0 auto;
                p{
                    font-family: cursive;
                    font-size: 1.6em;
                    margin-bottom: 10px;
                    text-align: center;
                    margin-top: 20px;
                }
                button{
                    width:230px;
                    font-size: 1.2em;
                    letter-spacing: 2px;
                    background-color:rgb(206, 99, 6);
                    border: none;
                    padding:5px 0px;
                    cursor: pointer;
                    border-radius: 5px;
                    color: white;
                    transition: 0.5s;

                    &:hover{
                        background-color:rgb(125, 61, 6);
                        
                    }

                }
            }
        }
    }
    .cartSliderOut{
        animation: show1 forwards 0.6s;

        @keyframes show1 {
                from{
                    opacity: 1;
                }
                to{
                    opacity: 0;
                    display: none;
                }
            }
        aside{
            animation: slide1 1s forwards;
            @keyframes slide1 {
                from{
                    width: 400px;
                    opacity: 1;
                }
                to{
                    width: 0px;
                    opacity: 0;
                }
            }
        }
    }
    .clear{
        display: none;
    }
    .homeSection{
        width: 100%;
        height:100vh;
        background-image: url('./assert/main-bcg.jpeg') ;
        background-size: cover;
        background-position: center;
        position: relative;    

        header{
            display: flex;
            width: 100%;
            height:100px;
            align-items: center;
            justify-content:space-between; 
            nav{
                display: none;
            }
           img{
            flex:0.4;
           }
            .menu{
                margin-left: 20px;
                font-size: 1.6em;
                width: 70px;
                height: 40px;
                border-radius: 30px;
                color: white;
                background-color: rgb(206, 99, 6);
                border: none;
                transition:0.4s;

                &:hover{
                    background-color: rgb(125, 61, 6);
                    cursor: pointer;
                }
            }
            .cart{
                margin-right: 40px;
                border: none;
                font-size: 1.7em;
                color: white;
                background-color: transparent;
                cursor: pointer;
                position: relative;
                & .cartNum{
                    background-color:rgb(206, 99, 6);
                    font-size: 0.8em;
                    font-weight: bold;
                    border-radius: 45%;
                    padding: 3px 9px;
                    position: absolute;
                    bottom: 20px;
                    left: 10px;
                }
            }
            
        }
        .homeInfo{
            margin-top: 200px;
            margin-left: 20px;
            color: white;

            h1{
                font-size: 3em;
                font-family: 'Kaushan Script', cursive;
                letter-spacing: 2px;
            }
            p{
                margin-top: 20px;
                font-size: 1.2em;
                letter-spacing: 2px;
            }
            button{
                margin-top: 20px;
                width: fit-content;
                font-size: 1.2em;
                padding:5px;
                border-radius: 5px;
                background-color: transparent;
                color: white;
                border: 1px solid white;
                transition: 0.7s;
                &:hover{
                    background-color:white;
                    color:rgb(206, 99, 6);
                    cursor: pointer;
                }
            }
        }
        .navBackground{
            background-color: rgba(0, 0, 0, 0.5);
            position:fixed;
            top:0;
            width: 100%;
            height: 100vh;
            z-index: 1;
            animation: show forwards 0.6s;

            @keyframes show {
                from{
                    opacity: 0;
                }
                to{
                    opacity: 1;
                }
            }
            .showUp{
                background-color: rgb(249, 250, 250);
                display: flex;
                flex-direction: column;
                margin:20px;
                visibility:visible;
                border-radius: 10px;
                height: 90vh;

                button{
                    width: 20px;
                    align-self:flex-end;
                    margin:10px 20px;
                    border: none;
                    background-color: transparent;
                    font-size:2.3em;
                    color:rgb(74, 74, 75);
                }
                ul{
                    list-style: none;
                    margin-top: 10px;
                    padding-left: 40px;
                    
                    li{
                        margin: 20px;
                        font-size: 1.5em;
                        a{
                            color: rgb(104, 105, 105);
                            i{
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
        }
        .clear{
            display: none;
        }
    }
    .feature{
        margin:auto 20px;
        margin-top: 100px;
        h1{
            text-align: center;
            margin-bottom: 20px;
            font-size: 3em;
            
            &::before{
                content: '/';
                margin-right: 20px;
                color:rgb(206, 99, 6) ;
            }
        }
        h2{
            text-align: center;
            font-size: 2em;
            color:rgb(206, 99, 6) ;
        }
        .productContainer{
            display: grid;
            position: relative;
        .loader{
                position: absolute;
                z-index: 1;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);

            }

            
            article{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                margin: 20px;

                .productImg{
                    width:100%;
                    transition: 0.5s;
                    position: relative;
                    img{
                        border-radius: 10px;
                        width: 100%;
                        height: 300px;
                    }   

                    div{
                        position: absolute;
                        display: flex;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        justify-content: center;
                        visibility:visible;
                        transition: 0.3s;
                        button{
                            font-size: 1.4em;
                            width:50px;
                            border: none;
                            background-color:transparent;
                            border-radius: 50%;
                            padding: 10px;
                            color:transparent;
                            cursor: pointer;
                            margin: 10px;
                            transition: 0.4s;
                        }
                    }
                    &:hover{
                        div{
                            visibility:visible;
                            button{
                                background-color: rgb(206, 99, 6);
                                color: white;
                            }
                        }
                    }
                }
                p{
                    margin: 15px;
                    letter-spacing: 2px;
                }
                h3{
                    letter-spacing: 2px;
                }
            }
        }
        .allProduct{
            display: flex;
            justify-content: center;
            margin: 40px;

            .btn{
                font-size: 1.1em;
                letter-spacing: 4px;
                border-radius: 10px;
                padding: 10px;
                background-color:rgb(206, 99, 6) ;
                border: none;
                color:white;
                transition: 0.4s;

                &:hover{
                    background-color:rgb(132, 63, 3);
                    cursor: pointer;
                }
            }
        }
    }
    @media (min-width:800px) {
        .homeSection{
            .navBar{
                display: block;
                margin-left: 50px;
                ul{
                    display: flex;
                    list-style: none;
                    li{
                        margin: 20px;
                        font-size: 1.5em;

                        a{
                            color: white;
                            transition: 0.4s;
                            &:hover{
                                color:rgb(206, 99, 6) ;
                            }
                        }
                    }                   
                }
            }
            .menu{
                display: none;
            }
            .navBackground{
                visibility: hidden;
            }
            .homeInfo{
                margin-left: 50px;
                h1{
                    font-size: 4rem;
                }
                p{
                  font-size: 2rem;  
                }
            }
        }
        .feature{
            .productContainer{
                grid-template-columns:1fr 1fr;
                article{
                    .productImg{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }

    }
    @media (min-width:1000px) {
        .homeSection{
         .homeInfo{
                h1{
                    font-size: 5em;
                }
                p{
                  font-size: 3rem;  
                }
            }
        }
       .feature{
            .productContainer{
                grid-template-columns:1fr 1fr 1fr;
            }
        }
    }

}


