* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

body .cartSliderIn, body .cartSliderOut {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: end;
  animation: show forwards 0.6s;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body .cartSliderIn aside, body .cartSliderOut aside {
  background-color: rgb(238, 244, 248);
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: scroll;
  animation: slide 1s forwards;
}
@keyframes slide {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 400px;
    opacity: 1;
  }
}
body .cartSliderIn aside > button, body .cartSliderOut aside > button {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.3em;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
body .cartSliderIn aside h2, body .cartSliderOut aside h2 {
  text-align: center;
  font-family: cursive;
}
body .cartSliderIn aside .itemContainer, body .cartSliderOut aside .itemContainer {
  height: 100vh;
}
body .cartSliderIn aside .itemContainer article, body .cartSliderOut aside .itemContainer article {
  margin-top: 20px;
  display: flex;
}
body .cartSliderIn aside .itemContainer article img, body .cartSliderOut aside .itemContainer article img {
  width: 30%;
  border-radius: 5px;
  margin-right: 20px;
}
body .cartSliderIn aside .itemContainer article .productDetails, body .cartSliderOut aside .itemContainer article .productDetails {
  flex: 1;
  margin-right: 20px;
}
body .cartSliderIn aside .itemContainer article .productDetails h5, body .cartSliderOut aside .itemContainer article .productDetails h5 {
  font-size: 1.1em;
}
body .cartSliderIn aside .itemContainer article .productDetails p, body .cartSliderOut aside .itemContainer article .productDetails p {
  margin-top: 5px;
  font-size: 0.9em;
}
body .cartSliderIn aside .itemContainer article .productDetails button, body .cartSliderOut aside .itemContainer article .productDetails button {
  border: none;
  background-color: transparent;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
}
body .cartSliderIn aside .itemContainer article .productBtns h5, body .cartSliderOut aside .itemContainer article .productBtns h5 {
  text-align: center;
  margin: 10px 0px;
}
body .cartSliderIn aside .itemContainer article .productBtns button, body .cartSliderOut aside .itemContainer article .productBtns button {
  color: rgb(206, 99, 6);
  background-color: transparent;
  border: none;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s;
}
body .cartSliderIn aside .itemContainer article .productBtns button:hover, body .cartSliderOut aside .itemContainer article .productBtns button:hover {
  color: rgb(125, 61, 6);
}
body .cartSliderIn aside .total, body .cartSliderOut aside .total {
  margin: 0 auto;
}
body .cartSliderIn aside .total p, body .cartSliderOut aside .total p {
  font-family: cursive;
  font-size: 1.6em;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 20px;
}
body .cartSliderIn aside .total button, body .cartSliderOut aside .total button {
  width: 230px;
  font-size: 1.2em;
  letter-spacing: 2px;
  background-color: rgb(206, 99, 6);
  border: none;
  padding: 5px 0px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: 0.5s;
}
body .cartSliderIn aside .total button:hover, body .cartSliderOut aside .total button:hover {
  background-color: rgb(125, 61, 6);
}
body .cartSliderOut {
  animation: show1 forwards 0.6s;
}
@keyframes show1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
body .cartSliderOut aside {
  animation: slide1 1s forwards;
}
@keyframes slide1 {
  from {
    width: 400px;
    opacity: 1;
  }
  to {
    width: 0px;
    opacity: 0;
  }
}
body .clear {
  display: none;
}
body .homeSection {
  width: 100%;
  height: 130vh;
  background-image: url("./assert/main-bcg.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}
body .homeSection header {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
body .homeSection header nav {
  display: none;
}
body .homeSection header img {
  flex: 1;
}
body .homeSection header .menu {
  margin-left: 20px;
  font-size: 1.6em;
  width: 70px;
  height: 40px;
  border-radius: 30px;
  color: white;
  background-color: rgb(206, 99, 6);
  border: none;
  transition: 0.4s;
}
body .homeSection header .menu:hover {
  background-color: rgb(125, 61, 6);
  cursor: pointer;
}
body .homeSection header .cart {
  margin-right: 20px;
  border: none;
  font-size: 1.7em;
  color: white;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
body .homeSection header .cart::before {
  content: "1";
  background-color: rgb(206, 99, 6);
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 45%;
  padding: 3px 9px;
  position: absolute;
  bottom: 20px;
  left: 10px;
}
body .homeSection .homeInfo {
  margin-top: 200px;
  margin-left: 20px;
  color: white;
}
body .homeSection .homeInfo h1 {
  font-size: 3em;
  font-family: "Kaushan Script", cursive;
  letter-spacing: 2px;
}
body .homeSection .homeInfo p {
  margin-top: 20px;
  font-size: 1.2em;
  letter-spacing: 2px;
}
body .homeSection .homeInfo button {
  margin-top: 20px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition: 0.7s;
}
body .homeSection .homeInfo button:hover {
  background-color: white;
  color: rgb(206, 99, 6);
  cursor: pointer;
}
body .homeSection .navBackground {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  animation: show forwards 0.6s;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body .homeSection .navBackground .showUp {
  background-color: rgb(249, 250, 250);
  display: flex;
  flex-direction: column;
  margin: 20px;
  visibility: visible;
  border-radius: 10px;
  height: 90vh;
}
body .homeSection .navBackground .showUp button {
  width: 20px;
  align-self: flex-end;
  margin: 10px 20px;
  border: none;
  background-color: transparent;
  font-size: 2.3em;
  color: rgb(74, 74, 75);
}
body .homeSection .navBackground .showUp ul {
  list-style: none;
  margin-top: 10px;
  padding-left: 40px;
}
body .homeSection .navBackground .showUp ul li {
  margin: 20px;
  font-size: 1.5em;
}
body .homeSection .navBackground .showUp ul li a {
  color: rgb(104, 105, 105);
}
body .homeSection .navBackground .showUp ul li a i {
  margin-right: 20px;
}
body .homeSection .clear {
  display: none;
}
body .feature {
  margin: auto 20px;
  margin-top: 100px;
}
body .feature h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3em;
}
body .feature h1::before {
  content: "/";
  margin-right: 20px;
  color: rgb(206, 99, 6);
}
body .feature h2 {
  text-align: center;
  font-size: 2em;
  color: rgb(206, 99, 6);
}
body .feature div {
  display: grid;
}
body .feature div article {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 20px;
}
body .feature div article .productImg {
  width: 100%;
  transition: 0.5s;
  position: relative;
}
body .feature div article .productImg img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
}
body .feature div article .productImg div {
  position: absolute;
  display: flex;
  top: 50%;
  width: 100%;
  justify-content: center;
  visibility: visible;
  transition: 0.3s;
}
body .feature div article .productImg div button {
  font-size: 1.4em;
  width: 50px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: 0.4s;
}
body .feature div article .productImg:hover div {
  visibility: visible;
}
body .feature div article .productImg:hover div button {
  background-color: rgb(206, 99, 6);
  color: white;
}
body .feature div article p {
  margin: 15px;
  letter-spacing: 2px;
}
body .feature div article h3 {
  letter-spacing: 2px;
}
body .feature .allProduct {
  display: flex;
  justify-content: center;
  margin: 40px;
}
body .feature .allProduct button {
  font-size: 1.1em;
  letter-spacing: 4px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(206, 99, 6);
  border: none;
  color: white;
  transition: 0.4s;
}
body .feature .allProduct button:hover {
  background-color: rgb(132, 63, 3);
  cursor: pointer;
}
@media (min-width: 800px) {
  body .homeSection .navBar {
    display: block;
  }
  body .homeSection .navBar ul {
    display: flex;
    list-style: none;
  }
  body .homeSection .navBar ul li {
    margin: 20px;
    font-size: 1.5em;
  }
  body .homeSection .navBar ul li a {
    color: white;
  }
  body .homeSection .menu {
    display: none;
  }
  body .homeSection .navBackground {
    visibility: hidden;
  }
  body .feature .productContainer {
    grid-template-columns: 1fr 1fr;
  }
  body .feature .productContainer article .productImg {
    width: 100%;
  }
  body .feature .productContainer article .productImg img {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  body .feature .productContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */